.ipynb_checkpoints/
__pycache__/
/**/.ipynb_checkpoints/
/**/__pycache__

data/*

notebooks/test_nb.ipynb
notebooks/test_nb2.ipynb

temp/

references/*

streamlit/

archive_m1/

v_env/

!references/M1_workflow_chart.png