.ipynb_checkpoints/
__pycache__/
/**/.ipynb_checkpoints/
/**/__pycache__

data/*

notebooks/test_nb.ipynb
notebooks/test_nb2.ipynb
notebooks/placenames_etc.ipynb
climdist/test.py

temp/

streamlit/

archive/

pipeline/ner/

v_env/

rz_acta/

references/*
!references/M2_workflow_chart.png
!references/memoire/
!references/cmunorm.ttf
!references/cmunrm.ttf
references/memoire/tex_backup*.zip
references/memoire/latex_output/